.course {
  height: 100vh;
  background-color: green;
  position: relative;
}

.car {
  position: absolute;
}

.car > img {
  width: 25vh;
  height: 25vh;
}

.left {
  transform: rotate(-0.5turn);
}

.right {
  transform: rotate(0turn);
}

.up {
  transform: rotate(-0.25turn);
}

.down {
  transform: rotate(0.25turn);
}
